.nav > li > a{
    font-size: 16px;
    color: black;
}
.navbar{
    margin-bottom: 0px !important;
}
#headerBar a{
    color: black;
}
.topBar {
    background-color:#666 !important;
}
.topBar a{
    color: #FFF !important;
}
.form-signin{
    padding: 15px;
    margin: 0 auto;
}